asn1crypto==0.24.0
blinker==1.4
Click==7.0
colorama==0.3.7
configparser==3.5.0
cryptography==2.1.4
enum34==1.1.6
Flask==1.1.1
future==0.15.2
gevent==1.4.0
greenlet==0.4.15
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
msgpack-python==0.5.6
numpy==1.13.3
pycairo==1.16.2
pycrypto==2.6.1
pygame==1.9.4
pygobject==3.26.1
pyinotify==0.9.6
pyOpenSSL==17.5.0
pyserial==3.4
pyxdg==0.25
pyzmq==18.0.1
SecretStorage==2.3.1
simplejson==3.13.2
six==1.11.0
Werkzeug==0.16.0
zerorpc==0.6.1
