<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Secretariat | Add</title>
</head>
<body>
<div>
    <form action = "/microservices/addSecretariat" method="post">
        Location:<br>
        <input type="text" name="location" size="25"><br>
        Name:<br>
        <input type="text" name="name" size="50"><br>
        Description:<br>
        <input type="text" name="description" size="250"><br>
        Opening hours:<br>
        <input type="text" name="hours" size="50"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<!-- Location•Name•Description•Opening hours -->
{% if result %}
<textarea cols="50" rows="4" name="result">{{ result }}</textarea>
{% endif %}

</body>
</html>