<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SECRETARIATS</title>
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
        
        tr:hover {background-color:#f5f5f5;}
    </style>

  <!-- include icon and font -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  


</head>
<body>

<script>
    function myFunction (id) {
      if (confirm("Are you sure you want to delete?")) {
        fetch('http://127.0.0.1:5200/deleteSecretariat/'+id);
        if (document.referrer !== document.location.href) {
            setTimeout(function() {
                document.location.reload()
          }, 800);
        }
      }
    }
</script>

<h2>Secretariats</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Description</th>
    <th>Opening hours</th>
    <th>Actions</th>
  </tr>
  {% for row in items %}
    <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.location }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.opening_hours }}</td>
        <td><a href="/frontendEditSecretariat/{{ row.id }}"><i class="fas fa-edit" title="Edit this secretariat"></i></a>
            <i class="fas fa-trash-alt" title="Delete this secretariat" onclick="myFunction('{{ row.id }}')"></i>
          </td>
    </tr>
  {% endfor %}
</table>

</body>
</html>