<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ASINT App - Main menu</title>

	<!-- include icon and font -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container" style="max-width:600px;">
		<div class="row xs-3" style="background-color:#009de0;">
			<div class="col-xs-9">
				<h3>{{ username }}</h3>	
			</div>
			<div class="col-xs-3">
				<img src="data:{{photo_type}};base64,{{photo_data}}" align="right"/>
			</div>
		</div>
		<div class="row xs-3">
			<h2>Upload QR code:</h2>
			<input type="file" id="file-selector">
			<h2>QR code scanning results:</h2>
			<span id="file-qr-result">None</span>
		</div>
		<div class="rox xs-3" style="padding: 5px;">
			<p><a href='/?key={{ key }}'>Return to the previous page</a></p>
		</div>
	</div>

	<script type="module">
		import QrScanner from "/qr-scanner.min.js";

		QrScanner.WORKER_PATH = '/qr-scanner-worker.min.js';

		const fileSelector = document.getElementById('file-selector');
		const fileQrResult = document.getElementById('file-qr-result');

		var xhttp = new XMLHttpRequest();

		fileSelector.addEventListener('change', event => {
			const file = fileSelector.files[0];
			if (!file) {
				return;
			}
			QrScanner.scanImage(file)
				.then(result => {
					xhttp.open("GET", "http://127.0.0.1:5100/" + result, true);
					xhttp.send(); 			
				})
				.catch(error => alert("No QR code found"));
		});


		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var j=JSON.parse(this.responseText);
				document.getElementById("file-qr-result").innerHTML =
				JSON.stringify(j,null,3);
			}
		};

	</script>

</body>
</html>
