<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASINT App - Main menu</title>

  <!-- include icon and font -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	{% if secret %}
	<script>
		// window.onload = loadDoc()
		window.onload = function loadDoc() {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					document.getElementById("demo").innerHTML =	this.responseText;
				}
			};
			xhttp.open("GET", "/validation/wait?key={{key}}", true);
			xhttp.send();
		}

	</script>
	{% endif %}

	<div class="container" style="max-width:600px;">
		<div class="row xs-3" style="background-color:#009de0;">
			<div class="col-xs-9">
				<h3>{{ username }}</h3>	
			</div>
			<div class="col-xs-3">
				<img src="data:{{photo_type}};base64,{{photo_data}}" align="right"/>
			</div>
		</div>
		<h2>User validation</h2>
		<div class="container">
			<p>Your secret is: <b>{{ secret }}</b> </p>
			<div id="demo"></div>
		</div>
		<div class="container" style="padding: 5px;">
			<p><a href='/validation?key={{ key }}'>Return to the previous page</a></p>
		</div>
    </div>
</body>
</html>
